@reference "tailwindcss";
@reference "tailwindcss-safe-area";

.select {
  @apply field-sizing-content min-w-12.5 cursor-pointer appearance-none overflow-hidden rounded-full border border-white/10 bg-black/50 px-4 py-2 text-xs font-medium text-ellipsis backdrop-invert-50 transition-opacity hover:opacity-80 active:opacity-70;
}

@supports (appearance: base-select) {
  .select {
    appearance: base-select;

    &::picker-icon {
      display: none;
    }

    &::picker(select) {
      @apply top-safe-offset-4 rounded-xl border border-white/10 bg-black/50 p-1 text-xs text-white backdrop-invert-50;

      appearance: base-select;
      bottom: calc(anchor(top) + var(--spacing) * 3.5);
      right: calc(anchor(right) - var(--spacing) * 14.5);
    }

    selectedcontent {
      @apply truncate;
    }

    option {
      @apply flex cursor-pointer rounded-lg px-3 py-2 duration-150;

      &::checkmark {
        display: none;
      }

      &:hover {
        @apply bg-black/25;
      }

      &:checked {
        @apply border border-white/25 bg-black/50;
      }
    }
  }
}
